<div class="ml-3 mr-3 mt-3 mb-2">
  <h5>Währungsauswahl</h5>
  <p-dropdown [options]="currencies" [(ngModel)]="selectedCurrency" optionLabel="currencyName" [filter]="true"
    filterBy="currencyName" [showClear]="true" placeholder="Währung auswählen">
    <ng-template pTemplate="selectedItem">
      <div class="country-item country-item-value" *ngIf="selectedCurrency">
        <img [src]="'assets/flags/'+selectedCurrency.id.toLowerCase()+'.png'" />
        <div>{{selectedCurrency.currencyName}}</div>
      </div>
    </ng-template>
    <ng-template let-country pTemplate="item">
      <div class="country-item">
        <img [src]="'assets/flags/'+country.id.toLowerCase()+'.png'" />
        <div>{{country.currencyName}}</div>
      </div>
    </ng-template>
  </p-dropdown>
  <p-button (click)="updatePreferences()" class="ml-3">Währung bestätigen</p-button>
</div>
