.navbar{
  height: 50px;
  margin-bottom: 10px;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.nav-height{
  height: 50px;
}

.heading{
  display: flex;
  align-items: center;
  font-size: large;
}

.avatar-col{
  display: flex;
  justify-content: flex-end;
}
