<div class="grid navbar bg-primary" *ngIf="display">
  <div class="col nav-height heading">
    <span style="cursor: pointer" [routerLink]="'/overview'">Semebapp</span>
  </div>
  <div class="col avatar-col">
    <p-avatar (click)="menu.toggle($event)" [label]="getLabel()" style="cursor:pointer;color:darkgoldenrod"></p-avatar>
  </div>
  <p-menu #menu [popup]="true" [model]="items"></p-menu>
</div>
