<div class="login-background">
  <div class="login-card">
    <p-card>
      <div class="grid login-grid">
        <div class="col text-col">
          Semebapp
        </div>
        <div class="col mb-1 mt-2">
          <span class="p-float-label">
            <input id="float-input" type="text" pInputText [(ngModel)]="typedMail">
            <label for="float-input">Email</label>
          </span>
        </div>
        <div *ngIf="loginError" class="col mb-1">
          <span class="error">
            Fehler beim Anmelden: Die Email existiert nicht.
          </span>
        </div>
        <p-button label="Anmelden" (click)="login()"></p-button>
        <div class="col register-col mt-3">
          <span>Nicht angemeldet? <a class="link" (click)="navigateToRegister()">Registrieren</a></span>
        </div>
      </div>
    </p-card>
  </div>
</div>
