.login-background {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.login-card {
  max-width: 500px;
  max-height: 500px;
  min-width: 400px;
  min-height: 200px;
}

.login-grid{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-col{
  font-size: small;
}

.link{
  // color: (internal value);
  text-decoration: underline;
  cursor: pointer;
}
