<ng-container *ngIf="account !== null" class="mt-2 mb-2 ml-2 mr-2">
  <div class="flex flex-row-reverse">
    <p-button [routerLink]="'/transaction'">Neue Transaktion</p-button>
  </div>
  <div class="flex flex-row">
    <div class="col">
    </div>
  </div>
  <div *ngIf="transactions && transactions.length > 0; else noTransactions" class="mt-2">
      <p-dataView #dv [value]="transactions" layout="list">
        <ng-template pTemplate="header">
          <div class="flex flex-row justify-content-between">
            <div class="col flex-grow-0">
              Transaktionen
            </div>
            <div class="col flex-grow-0">
              <span>Kontostand: </span>
              <span [ngClass]="getAccountAmount()>0?'positive':'negative'">
                {{getAccountAmount()|currency: 'EUR'}}</span>
            </div>
          </div>
        </ng-template>
        <ng-template let-product pTemplate="listItem">
          <div class="col-12">
            <div class="product-list-item">
              <div class="product-list-detail">
                <div class="product-name">{{getTransactionPartner(product)}}</div>
                <div class="product-description">{{product.description}}</div>
                <div class="product-date">{{product.transactionDate | date: 'dd.MM.yyyy'}}</div>
              </div>
              <div class="product-list-action">
                <span class="product-price"
                  [ngClass]="isPositive(product) === true?'positive':'negative'">{{getAmountForDisplay(product) |
                  currency: 'EUR'}}</span>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
  </div>
  <ng-template #noTransactions class="row mt-2">
    Keine Transaktionen vorhanden.
  </ng-template>
</ng-container>
