/* You can add global styles to this file, and also import other style files */
//@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
  font-family: sourcecode;
  src: url('assets/fonts/sourcecodepro/SourceCodePro-Regular.ttf') format("opentype");
}

body{
  background-color: lightgray;
  font-family: 'sourcecode';
}
