<div class="row">
  <div class="col">
    <form [formGroup]="transactionForm">
      <h3>Transaktion tätigen</h3>
      <div class="field">
        <label for="to">E-Mail des Empfängers</label>
        <input pInputText formControlName="to" id="to" type="text" class="inputfield w-full">
      </div>
      <div class="field">
        <label for="description">Verwendungszweck</label>
        <input pInputText formControlName="description" id="description" type="text" class="inputfield w-full">
      </div>
      <div class="field">
        <label for="fromAmount">Betrag</label>
        <input pInputText formControlName="fromAmount" id="fromAmount" type="text" class="inputfield w-full">
      </div>
      <p-button (click)="transact()"label="Abschließen"></p-button>
    </form>
  </div>
</div>
