<div class="login-background">
  <div class="login-card">
    <p-card>
      <div class="grid login-grid">
        <div class="col">
          <form [formGroup]="registerForm">
            <h3>Einen Account erstellen</h3>
            <div class="field">
              <label for="firstname">Vorname</label>
              <input pInputText formControlName="firstName" id="firstname" type="text" class="inputfield w-full">
            </div>
            <div class="field">
              <label for="lastname">Nachname</label>
              <input pInputText formControlName="lastName" id="lastname" type="text" class="inputfield w-full">
            </div>
            <div class="field">
              <label for="email">Email</label>
              <input pInputText formControlName="email" id="email" type="text" class="inputfield w-full">
            </div>
            <div class="field">
              <label for="iban">IBAN</label>
              <input pInputText formControlName="iban" id="iban" type="text" class="inputfield w-full">
            </div>
            <p-button label="Registrieren" (click)="register()"></p-button>
          </form>
        </div>
      </div>
    </p-card>
  </div>
</div>
